### Script to convert geolocation into correct format

In [56]:
import geopandas as gpd
import pandas as pd
import os

In [3]:
%config Completer.use_jedi = False

### Settings

In [29]:
INFILE = 'nav.txt'
NEW_CRS = 'EPSG:32605'

#### Load images

In [5]:
df = pd.read_csv(INFILE)

#### Change image suffixes

In [6]:
images = df.imagename.str.replace('.macs', '.tif')

#### Load coordinates to geom an reproject to selected crs

In [54]:
#gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['latitude [decimal degrees]'], df['longitude [decimal degrees]']))

In [10]:
series = gpd.GeoSeries(gpd.points_from_xy(df['longitude [decimal degrees]'], df['latitude [decimal degrees]']), crs='EPSG:4326')
series_new = series.to_crs(crs=NEW_CRS)

#### Fill Table

In [26]:
df['imagename_tif'] = images
df['x'] = series_new.geometry.x
df['y'] = series_new.geometry.y

#### Create final structure

In [28]:
df_new = df[['imagename_tif', 'x', 'y', 'altitude [meter]', 'omega [degrees]',
       ' phi [degrees]', ' kappa [degrees]']]

#### Export file

In [34]:
df_new.to_csv('out.txt', sep=' ', header=False, index=False)

In [44]:
with open('out.txt', 'r') as f:
    l = f.readlines()

In [52]:
newlines = [NEW_CRS + '\n']  +l

In [53]:
with open('odm_nav.txt', 'w') as f_new:
    f_new.writelines(newlines)

In [57]:
os.remove('out.txt')