### Script to convert geolocation into correct format

In [1]:
import geopandas as gpd
import pandas as pd
import os

In [2]:
%config Completer.use_jedi = False

### Settings

In [21]:
INFILE = 'nav.txt'
outfile = 'geo_pix4d.txt'
NEW_CRS = 'EPSG:4326'
H_ACC = 1
V_ACC = 1

#### Load images

In [22]:
df = pd.read_csv(INFILE)

#### Change image suffixes

In [23]:
images = df.imagename.str.replace('.macs', '.tif')

#### Load coordinates to geom an reproject to selected crs

In [24]:
series = gpd.GeoSeries(gpd.points_from_xy(df['longitude [decimal degrees]'], df['latitude [decimal degrees]']), crs='EPSG:4326')
series_new = series.to_crs(crs=NEW_CRS)

#### Fill Table

In [25]:
df['imagename_tif'] = images
df['x'] = series_new.geometry.x
df['y'] = series_new.geometry.y
df['horizontal_accuracy'] = H_ACC
df['vertical_accuracy'] = V_ACC

#### Create final structure

In [43]:
df_new = df[['imagename_tif', 'y', 'x', 'altitude [meter]', 'omega [degrees]',
       ' phi [degrees]', ' kappa [degrees]', 'horizontal_accuracy', 'vertical_accuracy']]

In [44]:
df_new

,imagename_tif,y,x,altitude [meter],omega [degrees],phi [degrees],kappa [degrees],horizontal_accuracy,vertical_accuracy
0,03633_014335777_750.tif,69.395074,-150.935698,840.876289,5.446749,6.346476,117.484892,1,1
1,03630_014334577_750.tif,69.395442,-150.933956,840.902523,7.536056,7.176561,115.975265,1,1
2,07477_020913377_750.tif,69.400369,-150.944583,830.285500,-5.330775,-7.154992,-59.343463,1,1
3,03634_014336177_750.tif,69.394952,-150.936281,841.052131,6.597935,7.211210,118.312835,1,1
4,01141_012658977_750.tif,69.397809,-150.931637,808.185511,6.619568,8.595975,116.665019,1,1
...,...,...,...,...,...,...,...,...,...
243,04963_015227777_750.tif,69.399077,-150.942377,816.337293,-5.904731,-7.728708,-59.196454,1,1
244,04968_015229777_750.tif,69.399696,-150.939516,815.994696,-5.142160,-7.206589,-58.931976,1,1
245,07468_020909777_750.tif,69.399281,-150.949737,828.578328,-5.692875,-7.881758,-59.412124,1,1
246,04962_015227377_750.tif,69.398953,-150.942949,816.322799,-6.161281,-7.913900,-59.221627,1,1
247,07471_020910976_750.tif,69.399643,-150.948016,829.257438,-6.132249,-8.338920,-59.125335,1,1

#### Export file

In [45]:
df_new.to_csv(outfile, sep='\t', header=True, index=False)